<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.samueltorres.idasenctl</string>

    <key>ProgramArguments</key>
    <array>
      <string>/usr/local/bin/idasenctl</string>
      <string>daemon</string>
    </array>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <true/>

    <key>StandardOutPath</key>
    <string>/tmp/idasenctl.out.log</string>

    <key>StandardErrorPath</key>
    <string>/tmp/idasenctl.err.log</string>
  </dict>
</plist>
